PORT=3000
MONGODB_ATLAS_URI=
MONGODB_LOCAL_URI=mongodb://localhost:27017/vetsim
JWT_SECRET=change-me
SESSION_SECRET=change-me-too

SEED_TEST_NAME=Admin Teste
SEED_TEST_EMAIL=teste@vetsim.local
SEED_TEST_PASSWORD=Teste@123
SEED_TEST_CODE=9999
SEED_TEST_SEMESTER=1
SEED_TEST_ROLE=admin
