@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
        
}
body{
    background: linear-gradient(to right, #20419A, #2CB79A) fixed;
}
#form label{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

}
#footer img{
    width: 150px;
    margin-top: 20px;
    text-align: center ;
}
#footer a{
    color: #fff;
    font-weight: 600;
    text-transform: 1px 3px 10px #000;

}